#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  text-align: left;
  width: 500px;
  margin: 0 auto;
  padding-left: 20px;
  font-size: 20px;
}
div span {
  cursor: pointer;
}
.parent {
  position: relative;
}
.icon {
  width: 20px;
  margin-left: 15px;
  position: absolute;
  top: 2px;
}
.icon2 {
  width: 18px;
  margin-left: 40px;
  position: absolute;
  top: 2px;
}
